<div class="row">
  <div class="col-sm-3">
    <br />
    <button href="" data-bind="click: create.bind(null, null, null, true)">
      Тоглолтын өрөө үүсгэх
    </button>
    <button href="" data-toggle="modal" data-target="#newGameModal">
      Нууц өрөө үүсгэх
    </button>
    <br />
    <br />
  </div>

  <div class="col-sm-7">
    <div class="table-responsive games-list-container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Тоглоом</th>
            <th>Төлөв</th>
            <th>Горим</th>
            <th>Нууц үг</th>
          </tr>
        </thead>
        <tbody>
          <!-- ko if: games().length == 0-->
          <tr>
            <td colspan="4">Идэвхтэй тоглоомын өрөө байхгүй байна.</td>
          </tr>
          <!-- /ko -->
          <!-- ko foreach: games() -->
          <tr
            data-toggle="modal"
            data-target="#joinGameModal"
            data-bind="attr: {'data-game-name': $data.gameName}"
          >
            <td data-bind="text: $data.gameName" class="game-name-highlight">
              <!--<a href="" data-dismiss="modal" data-bind="attr: { href: $data.gameName }, text: $data.gameName"></a>-->
            </td>
            <td data-bind="text: $data.status"></td>
            <td data-bind="text: $data.type"></td>
            <td data-bind="text: $data.passwordRequired ? 'yes' : 'no'"></td>
          </tr>
          <!-- /ko -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <br />
    <div class="row well">
      <div class="col-sm-9">
        <div id="global-chat-container" class="global-chat">
          <!-- ko foreach: globalChatMessages() -->
          <p data-bind="text: $data"></p>
          <!-- /ko -->
        </div>
      </div>

      <div class="col-sm-3">
        <div class="table-responsive global-chat-users">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>
                  Идэвхтэй тоглогчид:
                  <span data-bind="text: players().length"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- ko foreach: players() -->
              <tr>
                <td data-bind="text: $data.playerName"></td>
              </tr>
              <!-- /ko -->
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <form data-bind="submit: sendGlobalMessage">
          <input
            placeholder="Бүх тоглогчдын чат"
            type="text"
            class="form-control"
            data-bind='value: globalMessage, valueUpdate: "afterkeydown"'
          />
        </form>
      </div>
    </div>
  </div>
</div>
<br />
